.bg1,
.bg2,
.bg2 div,
.bg3 {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.bg2, .bg3:after {
  position: absolute;
  width: 90vw;
  height: 80vh;
  left: 5vw;
  top: 10vh;
}

.bg3 {
  animation: $animation-bg-duration ease-in-out forwards bg3;
  animation-delay: $animation-bg-delay;

  &:after {
    opacity: 0;
    width: 50vw;
    height: 40vh;
    left: 25vw;
    top: 30vh;

    @include breakpoint(sm) {
      width: 80vw;
      height: 60vh;
      left: 10vw;
      top: 20vh;
    }

    content: '';
    border: 1px solid rgba(255, 255, 255, 0.5);
    animation:
            $animation-rectangle1-duration ease-in-out forwards bg3-after1,
            $animation-rectangle2-duration ease-in-out forwards bg3-after2;
    animation-delay: $animation-rectangle1-delay, $animation-rectangle2-delay;
  }
}

.bg1, .bg2 div {
  background: transparent url('/static/images/bg_top_home-min.jpg') 50% 50%;
  background-size: cover;
}

.bg1 {

  opacity: 0;
  transform: rotate(10deg);
  animation: $animation-bg-duration ease-in-out forwards bg1;
  animation-delay: $animation-bg-delay;
}

.bg2 {
  opacity: 0;
  transform: rotate(20deg);
  animation: $animation-bg-duration ease-in-out forwards bg2;
  animation-delay: $animation-bg-delay;
  overflow: hidden;

  div {
    position: absolute;
    left: -5vw;
    top: -10vh;
  }
}
