.content {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  height: auto;
  white-space: nowrap;

  animation: $animation-signature1-duration ease-in-out forwards hi-content;
  animation-delay: $animation-signature1-delay;

  article {
    h1, h2, h3 {
      margin: 0;
      padding: 0 1rem;
      position: relative;
    }

    h1, h2, h3 span {
      opacity: 0;
      transform: scale(1.2);
    }

    h1 {
      font-size: 4rem;
      font-weight: normal;
      color: $color-mustard;
      display: inline-flex;
      animation: $animation-keven-duration ease-in-out forwards hi-content-h;
      animation-delay: $animation-keven-delay;
    }

    h2 {
      font-size: 2.64rem;
      text-transform: uppercase;
      letter-spacing: -0.1rem;
      padding: 0.5rem 1rem;
      animation: $animation-title-duration ease-in-out forwards hi-content-h;
      animation-delay: $animation-title-delay;

      &:after {
        content: '';
        width: 0;
        height: 100%;
        position: absolute;
        background: $color-dark-liver;
        left: 0;
        top: 0;
        z-index: -1;

        animation: $animation-signature2-duration ease-in-out forwards hi-content-h2-after;
        animation-delay: $animation-signature2-delay;
      }
    }

    h3 {
      font-size: 1rem;

      span {
        &:first-of-type {
          animation: $animation-welcome-part1-duration ease-in-out forwards hi-content-h;
          animation-delay: $animation-welcome-part1-delay;
        }

        &:last-of-type {
          animation: $animation-welcome-part2-duration ease-in-out forwards hi-content-h;
          animation-delay: $animation-welcome-part2-delay;
        }
      }
    }

    @include breakpoint(sm) {
      h1 {
        font-size: 2.3rem;
      }

      h2 {
        font-size: 1.58rem;
      }

      h3 {
        font-size: 0.8rem;
      }
    }
  }
}
