// Colors
$color-mustard: #FFE066;
$color-sunset-orange: #F25F5C;
$color-dark-liver: #50514F;
$color-lapis-lazuli: #247BA0;
$color-green-sheen: #70C1B3;

$base-transition: background-color 500ms ease, color 500ms ease;
