.faq {
  > *:not(input):not(label) {
    overflow: hidden;
    line-height: 0%;
    margin: 0;
    color: transparent;
    transition:
            font-size 500ms ease,
            line-height 500ms ease,
            color 500ms ease,
            margin 500ms ease;
  }

  input {
    display: none;
  }

  label {
    display: inline-block;
    cursor: pointer;
    font-size: 1.2em;
    line-height: 125%;
    font-weight: bold;
    margin: 0.67em 0;
  }

  input:checked ~ *:not(input):not(label) {
    line-height: 125%;
    margin: 0 0 1rem;
    color: black;
  }
}
