.faq {
  cursor: pointer;

  h1 {
    @extend h5;
  }

  p, ul {
    overflow: hidden;
    line-height: 0%;
    margin: 0;
    color: transparent;
    transition:
            line-height 500ms ease,
            color 500ms ease,
            margin 500ms ease;
  }

  &.open {
    p, ul {
      line-height: 125%;
      margin: 0 0 1rem;
      color: black;
    }
  }

}
