.logo-slider {
  user-select: none;
  text-align: center;

  img {
    width: 150px;
    height: auto;
    filter: grayscale(100%);
    transition: filter 250ms ease;
    pointer-events: none;

    @include breakpoint(sm) {
      width: 100px;
    }

    &:hover {
      filter: grayscale(0%);
    }
  }
}
