.main-nav {
  position: sticky;
  top: 0;
  box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.06);
  z-index: 10;
  background: #fff;

  @include breakpoint(xs) {
    display: none;
  }

  .container {
    @include breakpoint(sm) {
      width: 100%;
    }

    ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      font-size: 0.85rem;

      @include breakpoint(sm) {
        font-size: 0.75rem;
      }

      li a {
        padding: 0.5rem 1rem;
        display: block;
        cursor: pointer;
        transition: background-color 250ms ease, color 250ms ease;

        @include breakpoint(sm) {
          padding: 0.5rem 0.5rem;
        }

        &:hover {
          background: #ffe065;
          color: #4f504f;
        }
      }
    }
  }
}
