.link {
  font-family: 'Noto Emoji', sans-serif;
  text-decoration: none;
  cursor: pointer;
  --pico-color: var(--pico-contrast);

  &:hover, &:active, &:focus {
    --pico-color: var(--pico-contrast-hover);
  }
}
