section.hi {
  background: $color-dark-liver;
  position: relative;
  z-index: 3;
  font-family: 'Varela', sans-serif;

  $animation-rectangle1-duration: 500ms;
  $animation-rectangle1-delay: 500ms;

  $animation-rectangle2-duration: 1s;
  $animation-rectangle2-delay: 2.5s;

  $animation-welcome-part1-duration: 250ms;
  $animation-welcome-part1-delay: $animation-rectangle1-delay + 0.5s; // 1s

  $animation-welcome-part2-duration: 250ms;
  $animation-welcome-part2-delay: $animation-welcome-part1-delay + 0.3s; // 1.3s

  $animation-keven-duration: 250ms;
  $animation-keven-delay: $animation-welcome-part2-delay + 0.3s; // 2s

  $animation-title-duration: 250ms;
  $animation-title-delay: $animation-rectangle2-delay - 0.5s; // 2.5s

  $animation-bg-duration: 200ms;
  $animation-bg-delay: $animation-rectangle2-delay + 1s; // 3s

  $animation-signature-duration: 1s;
  $animation-signature-delay: $animation-rectangle2-delay; // 3s

  .bg1,
  .bg2,
  .bg2 div,
  .bg3 {
    position: absolute;
    width: 100vw;
    height: 100vh;
  }

  .bg2, .bg3:after {
    position: absolute;
    width: 90vw;
    height: 80vh;
    left: 5vw;
    top: 10vh;
  }

  .bg3 {
    @keyframes bg3 {
      0% {
        transform: rotate(0);
      }

      100% {
        transform: rotate(-3deg);
      }
    }

    animation: $animation-bg-duration ease-in-out forwards bg3;
    animation-delay: $animation-bg-delay;

    &:after {
      @keyframes bg3-after1 {
        0% {
          opacity: 0;
          width: 50vw;
          height: 1px;
          left: 25vw;
          top: 50vh;
        }

        100% {
          opacity: 1;
          width: 50vw;
          height: 40vh;
          left: 25vw;
          top: 30vh;
        }
      }

      @keyframes bg3-after2 {
        0% {
          width: 50vw;
          height: 40vh;
          left: 25vw;
          top: 30vh;
        }

        100% {
          width: 90vw;
          height: 80vh;
          left: 5vw;
          top: 10vh;
        }
      }

      opacity: 0;
      width: 50vw;
      height: 40vh;
      left: 25vw;
      top: 30vh;
      content: '';
      border: 1px solid rgba(255, 255, 255, 0.5);
      animation:
              $animation-rectangle1-duration ease-in-out forwards bg3-after1,
              $animation-rectangle2-duration ease-in-out forwards bg3-after2;
      animation-delay: $animation-rectangle1-delay, $animation-rectangle2-delay;
    }
  }

  .bg1, .bg2 div {
    background: transparent url('/static/images/bg_top_home-min.jpg') 50% 50%;
    background-size: cover;
  }

  .bg1 {
    @keyframes bg1 {
      0% {
        opacity: 0;
        transform: rotate(10deg);
      }

      50% {
        opacity: 1;
      }

      100% {
        opacity: 1;
        transform: rotate(0);
      }
    }

    opacity: 0;
    transform: rotate(10deg);
    animation: $animation-bg-duration ease-in-out forwards bg1;
    animation-delay: $animation-bg-delay;
  }

  .bg2 {
    @keyframes bg2 {
      0% {
        opacity: 0;
        transform: rotate(-5deg);
      }

      50% {
        opacity: 1;
      }

      100% {
        opacity: 1;
        transform: rotate(0);
      }
    }

    opacity: 0;
    transform: rotate(20deg);
    animation: $animation-bg-duration ease-in-out forwards bg2;
    animation-delay: $animation-bg-delay;
    overflow: hidden;

    div {
      position: absolute;
      left: -5vw;
      top: -10vh;
    }
  }

  &:after {
    position: absolute;
    content: '';
    width: 100%;
    bottom: 0;
    left: 0;
    height: 0.25rem;
    background-color: $color-mustard;
  }

  @include breakpoint(sm) {
    background-position: 65% 0;
  }

  .container {
    text-align: center;

    .content {
      position: absolute;
      left: 50%;
      bottom: 50%;
      transform: translate(-50%, 50%);
      height: auto;

      @keyframes hi-content {
        0% {
          left: 50%;
          bottom: 50%;
          transform: translate(-50%, 50%) scale(1);
        }

        100% {
          left: 5%;
          bottom: 5%;
          transform: translate(0, 0) scale(0.8);
        }
      }

      animation: $animation-signature-duration ease-in-out forwards hi-content;
      animation-delay: $animation-signature-delay;

      article {
        @keyframes hi-content-h {
          0% {
            opacity: 0;
            transform: scale(1.2);
          }

          100% {
            opacity: 1;
            transform: scale(1);
          }
        }

        h1, h2, h3 {
          margin: 0;
          padding: 0 1rem;
          position: relative;
        }

        h1, h2, h3 span {
          opacity: 0;
          transform: scale(1.2);
        }

        h1 {
          font-size: 4rem;
          font-weight: normal;
          color: $color-mustard;
          display: inline-flex;
          animation: $animation-keven-duration ease-in-out forwards hi-content-h;
          animation-delay: $animation-keven-delay;
        }

        h2 {
          font-size: 2.64rem;
          text-transform: uppercase;
          letter-spacing: -0.1rem;
          background: $color-dark-liver;
          padding: 0.5rem 1rem;
          animation: $animation-title-duration ease-in-out forwards hi-content-h;
          animation-delay: $animation-title-delay;
        }

        h3 {
          font-size: 1rem;

          span {
            &:first-of-type {
              animation: $animation-welcome-part1-duration ease-in-out forwards hi-content-h;
              animation-delay: $animation-welcome-part1-delay;
            }

            &:last-of-type {
              animation: $animation-welcome-part2-duration ease-in-out forwards hi-content-h;
              animation-delay: $animation-welcome-part2-delay;
            }
          }
        }

        @include breakpoint(sm) {
          h1 {
            font-size: 2.3rem;
          }

          h2 {
            font-size: 1.58rem;
          }

          h3 {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
