section.hi {
  background: $color-dark-liver;
  position: relative;
  z-index: 3;
  font-family: 'Varela', sans-serif;

  @import 'hi/animations';
  @import 'hi/bg';

  &:after {
    position: absolute;
    content: '';
    width: 100%;
    bottom: 0;
    left: 0;
    height: 0.25rem;
    background-color: $color-mustard;
  }

  @include breakpoint(sm) {
    background-position: 65% 0;
  }

  .container {
    text-align: center;

    @import 'hi/signature';
  }
}
