section.whatido {
  width: 100%;
  min-height: 80vh;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  background: $color-mustard;
  z-index: 0;
  overflow: hidden;

  @include breakpoint(sm) {
    background-position: 0 50%;
  }

  .sections {
    position: relative;
    min-height: 80vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    section {
      margin: 3rem 0;

      header {
        transform: rotate(-3deg);

        h2 {
          position: relative;
          display: inline;
          color: transparent;
          font-size: 3rem;
          line-height: normal;
          font-weight: normal;

          @include breakpoint(sm) {
            font-size: 2rem;
          }

          span {
            position: relative;
            z-index: 1;
            font-family: 'Varela', sans-serif;
          }
        }

        .bg {
          position: absolute;
          top: 10%;
          left: 5%;
          height: 80%;
          width: 90%;
          background: $color-dark-liver;
          z-index: -1;
        }
      }

      &:nth-of-type(1) {
        text-align: left;

        header {
          -webkit-text-stroke: 2px $color-sunset-orange;
        }
      }

      &:nth-of-type(2) {
        text-align: center;

        header {
          -webkit-text-stroke: 2px $color-green-sheen;
        }
      }

      &:nth-of-type(3) {
        text-align: right;

        header {
          -webkit-text-stroke: 2px $color-lapis-lazuli;
        }
      }

      article {
        display: none;
        position: relative;
        top: -5rem;
        background: #fff;
        color: initial;
        padding: 5rem 0;

        &.active {
          display: block;
        }

        .container {
          max-width: 600px;
        }
      }
    }
  }

  .bg {
    font-size: 1rem;
    font-family: Monospace, monospace;
    white-space: pre;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    color: rgba(0, 0, 0, 0.05);
    text-align: center;
    top: 0;
    left: 0;
  }
}
