@use "sass:map";
@use "@picocss/pico/scss/pico" with (
  $enable-semantic-container: false,
  $enable-classes: true,
  $modules: (
    "forms/input-color": false,
    "forms/input-date": false,
    "forms/input-file": false,
    "forms/input-range": false,
    "forms/input-search": false,
    "components/accordion": false,
    "components/card": true,
    "components/dropdown": false,
    "components/loading": false,
    "components/modal": false,
    "components/nav": false,
    "components/progress": false,
    "components/tooltip": false
  )
);
@use "@picocss/pico/scss/settings" as *;

@media (min-width: 576px) {
  :root {
    --pico-font-size: 100%;
  }
}

@media (min-width: 768px) {
  :root {
    --pico-font-size: 106.25%;
  }
}

@media (min-width: 1024px) {
  :root {
    --pico-font-size: 112.5%;
  }
}

@media (min-width: 1280px) {
  :root {
    --pico-font-size: 112.5%;
  }
}

@media (min-width: 1536px) {
  :root {
    --pico-font-size: 112.5%;
  }
}

body {
  &.width {
    &-veryNarrow {
      .container {
        @media (min-width: map.get($breakpoints, xl, breakpoint)),
          (min-width: map.get($breakpoints, xxl, breakpoint)) {
          max-width: 40rem;
        }
      }
    }

    &-narrow {
      .container {
        @media (min-width: map.get($breakpoints, xl, breakpoint)),
          (min-width: map.get($breakpoints, xxl, breakpoint)) {
          max-width: 53rem;
        }
      }
    }

    &-largeAdaptive {
      .container {
        @media (max-width: map.get($breakpoints, xxl, breakpoint)) and (min-width: map.get($breakpoints, lg, breakpoint)) {
          max-width: 95%;
        }
      }
    }
  }
}
